<!DOCTYPE html>
<html>
<head>

    <style>
        body {
        margin: 0;
        background-color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
      }
      </style>
        <canvas></canvas>
        <!-- <script src="https://main.codingfamily.co.kr/content/user/odel/sprites_fbx/info.js"></script> -->

</head>
<body style="background-color: #A3C6C4;"></body>


<script>

</script>



</body>
</html>